html {
	font-family: 'Roboto Condensed', sans-serif;
}
#container {

	width: 100%;
	height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		     -o-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#choices {
	position: relative;
	display: flex;
	align-items: center;
	justify-content:center;
}
#option1 {
	text-shadow: 1px 1px 1px #000;
	position: relative;
	color: white;
	float: left;
	background-image: url('../images/apple.jpg');
	background-size: cover;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#option1:hover, #option2:hover {
	-webkit-filter: contrast(1.2);
	filter: contrast(1.2);
}

#option2 {	
	text-shadow: 1px 1px 1px #000;
	position: relative;
	color: white;
	float: right;
	background-image: url('../images/orange.jpg');
	background-size: cover;
	border-left: 2px solid black;
	border-right: 2px solid black;

}

#results {
	transform-style: preserve-3d;
	overflow: hidden;
	text-shadow: 1px 1px 1px #FFF;
	position: relative;
	/*opacity: 0;*/
	width: 200px;
	height: 100px;
	color: white;
	text-shadow: 1px 1px 1px #000;
	border-radius: 20%;
	/*background-color:rgba(34, 102, 153, 0.6);*/
	background-color: rgba(200,200,200,0.8);
	opacity:0.99;
}

.voteBox, .resultsBox {
	color: black;
	position: relative;
	width: 250px;
	height: 200px;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.spinIn {
 	animation-name: spinIn;
    animation-duration: 750ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes spinIn {
	0% {		
		-webkit-transform: rotateX(360deg);
		   -moz-transform: rotateX(360deg);
		    -ms-transform: rotateX(360deg);
		     -o-transform: rotateX(360deg);
		        transform: rotateX(360deg);
		        opacity: 0;
	}
	100% {		
			-webkit-transform: rotateX(0deg);
			   -moz-transform: rotateX(0deg);
			    -ms-transform: rotateX(0deg);
			     -o-transform: rotateX(0deg);
			        transform: rotateX(0deg);
		        opacity: 0.99;
	}
}